/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
Body
{
	Background-color:#000000;
}
/*---------------------------------------titulo------------------------------------------------------------------*/

/*--------------------------------------------Menu-------------------------------------------------------------*/
.cajas:hover
{
	Background-color:#555;
	border: 5px solid red;
}
/*--------------------------------------------Contenido-------------------------------------------------------------*/

/*------------------------------------------------Footer---------------------------------------------------------*/

/*--------------------------------------------------vista desdel mvoil o -------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 900px){
  